#bla {
    display: none;
}

#pause {
    display: none;
}

#arisu_on {
    display: none;
}

#toki_on {
    display: none;
}

#grid1 {
    display: none;
}

* {
    box-sizing: border-box;
}

html {
  /*-ms-overflow-style: none;*/
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.columna {
    float: left;
    padding: 10px;
}

.columna.lado {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.columna.lado.izq {
    transform: scaleX(-1);
}

.columna.main {
    width: 40%;
    display: flex;
    justify-content: center;
}

.ele_img {
    border: 2px solid Aquamarine;
    border-radius: 6px;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.bla_img {
    border: 2px solid Gainsboro;
    border-radius: 6px;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.centro_img {
    text-align: center;
    width: 100%;
}

.lado_img {
    width: 100%;
    height: auto;
}

.caption {
    font-size: 250%;
}

.caption.ele {
    color: Aquamarine;
}

.caption.bla {
    color: Gainsboro;
}

.main_bg {
    min-height: 100vh;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    /* overflow-y: visible; */
}

.main_bg::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url(/assets/imgs/mika_bg.jpg);
    background-repeat: no-repeat;
    background-position: 80% center;
    background-attachment: fixed /*scroll*/;
    background-size: cover;
    /*filter: blur(8px);*/
    z-index: -1;
    /*transform: scale(1.05);*/
    background-color: #3C46A8;

    /*will-change: transform, filter;*/
}

.main_bg::after {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
    background-size: cover;
    transform: scale(1.05);
}

.centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2rem;
    gap: 2rem;
    min-height: 100vh;
}

.banner {
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 1.5rem 2rem;
    border-radius: 1rem;

    /*background-color: rgba(40, 40, 40, 0.5);
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 20px rgba(40, 40, 40, 0.3);*/

    margin-bottom: 2rem;
}

.pfp {
    width: 200px;
    height: 200px;
    clip-path: circle(50%);
    object-fit: cover;
    flex-shrink: 0;
}

.nombre {
    font-size: 6rem;
    font-weight: 900;
    background-image: url(/assets/imgs/mika_bg.jpg);
    background-size: cover /*105% auto*/;
    background-position: 80% center;
    background-repeat: no-repeat;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    filter: brightness(1.8);
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
    /* backdrop-filter: blur(8px); */
    /* text-shadow: 0 0 8px rgba(255,255,255,0.6); */
}

.contenido_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    align-items: center;
    /*justify-items: center;*/

    gap: 2rem;
    padding: 4rem 2rem 1rem 2rem; /* top right bottom left */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.contenido_grid {
    display: grid;
    grid-template-columns: /*repeat(auto-fit, minmax(300px, 1fr));*/ repeat(3, 1fr);

    align-items: center;

    gap: 2rem;
    padding: 2rem 2rem 3rem 2rem; /* top right bottom left */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.bloque {
    
    /* width: 100% 350px;
    max-width: 100% none 350px 800px; */
    /* min-width: 350px; */


    background-color: rgba(40, 40, 40, 0.5);
    backdrop-filter: blur(4px);
    padding: 1.2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'Quicksand', sans-serif;

    /* flex-wrap: wrap; */

    display: flex;
    align-items: center /* flex-start */;
    gap: 1.5rem;

    flex-direction: row;



    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    /*max-width: 600px;*/
}

.bloque.kanji {
    padding: 0 1.2rem;
    gap: 2rem;
    /*height: 158.38px;*/
}

.bloque.reproductor {
    gap: 0;
}

.bloque.nogrow {
    flex-grow: 0;
    flex-basis: 0;
}

.bloque_hidden {
    padding: 1.2rem;
    color: white;
    font-family: 'Quicksand', sans-serif;

    display: flex;
    align-items: center;
    gap: 1.5rem;

    flex-direction: row;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;

    text-align: center;
}

.bloque_hidden.nogrow {
    flex-grow: 0;
    flex-basis: 0;
}

.bloque_hidden.nogrow.nopadding {
    padding: 0;
    gap: 0;
    flex-basis: auto;
}

.bloque_hidden.column {
    flex-direction: column;
}

.bloque_hidden_nosides {
    padding: 1.2rem 0;
    color: white;
    font-family: 'Quicksand', sans-serif;

    display: flex;
    align-items: center;
    gap: 1.5rem;

    flex-direction: row;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
}

.bloque_hidden_nosides.nogrow {
    flex-grow: 0;
    flex-basis: 0;
}

.bloque_img {
    width: 120px;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.bloque_img.clickable {
    cursor: pointer;
}

.bloque_img.toki {
    width: 150px;
}

.bloque_img.kanji {
    padding: 19.19px 0
}

.bloque_txt {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
    min-width: 0 /* 200px */;

    word-wrap: break-word;
}

.bloque_txt.titulo {
    min-width: 200px;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
}

.bloque_txt.boton {
    align-items: center;
    padding-right: 0.5rem;
    gap: 1rem;
}

.bloque_txt.clickable {
    cursor: pointer;
}

.cancion_boton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.boton_img {
    width: 30px;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.nomargin_updown {
    margin-top: 0;
    margin-bottom: 0;
}

/*
@media (max-width: 1024px) {
    .main_bg {
        min-height: 100dvh;
        height: auto;
    }

    .main_bg::before {
        background-attachment: scroll;
    }
    
    .contenido {
        grid-template-columns: 1fr;
    }
}*/

@media (max-width: 1024px) {
    .contenido_flex {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .bloque {
        width: 100%;
    }
}