#bla {
    display: none;
}
* {
    box-sizing: border-box;
}
.columna {
    float: left;
    padding: 10px;
}

.columna.lado {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.columna.lado.izq {
    transform: scaleX(-1);
}

.columna.main {
    width: 40%;
    display: flex;
    justify-content: center;
}

.ele_img {
    border: 2px solid Aquamarine;
    border-radius: 6px;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.bla_img {
    border: 2px solid Gainsboro;
    border-radius: 6px;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.centro_img {
    text-align: center;
    width: 100%;
}

.lado_img {
    width: 100%;
    height: auto;
}

.caption {
    font-size: 250%;
}

.caption.ele {
    color: Aquamarine;
}

.caption.bla {
    color: Gainsboro;
}

.main_bg {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.main_bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(/assets/imgs/mika_bg.jpg);
    background-repeat: no-repeat;
    background-position: 80% center;
    /* background-attachment: scroll; */
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
    transform: scale(1.05);
    background-color: #3C46A8;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
    height: 100vh;
}

.banner {
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 1.5rem 2rem;
    border-radius: 1rem;

    /*background-color: rgba(40, 40, 40, 0.5);
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 20px rgba(40, 40, 40, 0.3);*/
}

.pfp {
    width: 200px;
    height: 200px;
    clip-path: circle(50%);
    object-fit: cover;
    flex-shrink: 0;
}

.name {
    font-size: 6rem;
    font-weight: 900;
    background-image: url(/assets/imgs/mika_bg.jpg);
    background-size: cover /* 105% auto */;
    background-position: 80% center;
    background-repeat: no-repeat;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    filter: brightness(1.8);
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
    /* backdrop-filter: blur(8px); */
    /* text-shadow: 0 0 8px rgba(255,255,255,0.6); */
}